<div class="container mt-4">
  <form [formGroup]="myForm " class="w-50"(submit)="save()">

    <label for="" class="text-white">you are:</label>
    <p-dropdown

    [options]="developers()"

    optionLabel="name"
    placeholder="Select"
    [filter]="true"

    />
    <div class="d-flex gap-2 text-white mt-3">

    <h4 class="text-capitalize ">skills:</h4>
    <button class="bg-success  text-white" style="width: 34px;
      height: 25px;" (click)="addSkill()"><i class="pi pi-plus-circle "></i></button>
    </div>
    <div formArrayName="skills">
@for (item of skills().controls; track item ; let i =$index) {

  <div class="row mt-3" [formGroupName]="i">
    <div class="col-6">

      <p-dropdown

      [options]="skillsList()"

      optionLabel="name"
      placeholder="Select"
      [filter]="true"
formControlName="skill"
      />
    </div>
    <div class="col-5">
      <div class="w-100 h-100">

        <input type="number" name="" id="" placeholder="experience" class="w-100 h-100" formControlName="exp">
      </div>
    </div>
    <div class="col-1 d-flex align-items-center">
      <button class="bg-danger text-white rounded" style="width: 34px;
    height: 25px;" (click)="deleteSkill(i)">
      <i class="pi pi-minus-circle"></i>
      </button>
    </div>
  </div>
}
    </div>
    <button class="bg-primary  text-white text-capitalize mt-3" style="width: 150px;
      height: 35px;">save changes</button>
</form>
</div>
