.p-dropdown{
  width: 100%;
  height: 100%;
    background: #221f1f;
    border-color: #221f1f;
    .p-placeholder{
     color: #99A1B7;
   }
  //  &.is-invalid{
  //   border-color: red;
  //  }
}
.border-red{
.p-dropdown{
  border-color: red;

}

}
