.card{
  background-color: #dae3dbed;
}
.btn-light{
  font-size:11px
}
.txt-sm{
  font-size: 12px;

}
.uilink{
  font-size: 14px;
color: black;
}
.para{
  font-size: 12px;
  font-weight: bold;
}
.letter{
  width: 38px;
  height: 40px;
  text-align: center;
}
.arrow-content{
  width: 35px;
  height: 30px;
}
hr {

}
// li:not(:last-child)::after {

//   content: "";
//   display: block;
//   width: 100%;
//   height: 1px;
//   background-color: #0a0a0a;
// position: absolute;


// }

