:host ::ng-deep{
.p-datatable-table {
  td,th{
    background-color:#20202b;
    color:lightcyan
  }
}
}
.status{
  &.status-pendding{
    background-color: rgb(244, 210, 43);
    color: yellow;
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }
  &.status-completed{
    background-color: rgb(36, 187, 56);
      color:rgb(54, 241, 79) ;
      border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }
  &.status-onhold{
    background-color: rgb(188, 39, 156);
    color: rgb(225, 78, 166);
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }
  &.status-inprogress{
    background-color: rgb(43, 76, 244);
    color: rgb(32, 7, 176);
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }
  &.status-inprocess{
    background-color: rgb(43, 76, 244);
    color: rgb(32, 7, 176);
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }
  &.status-rejected{
    background-color: rgb(175, 38, 42);
    color: rgb(180, 32, 99);
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }
  &.status-confirmed{
    background-color: rgb(24, 165, 175);
    color: rgb(27, 167, 209);
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }
  &.status-snipped{
    background-color: rgb(194, 244, 43);
    color: rgb(90, 159, 20);
    border-radius: 3px;
    padding: 7px;
    font-size: 13px;
    text-transform: capitalize;
  }

}
