:host ::ng-deep{
.p-datatable-table {
  td,th{
    background-color:#20202b;
    color:lightcyan
  }
}
}
.status{
  &.status-pendding{
    background-color: rgb(244, 210, 43);
    color: yellow;
  }

}
