.img-container{
  overflow-y: auto;
  white-space: nowrap;

  scroll-behavior: smooth;
  display: flex;


  height: 300px;
}

.fatCard{
  background-color: #20202b;
  .btn{
    font-size: 13px;
  }
}
.cardButon{
  font-size: 13px;
}
.listOfProducts{
  height: calc(67vh - 90px);
  overflow: auto;
}
@media (min-width:768px) and (max-width:991px) {
  .fatCard{
    padding: 25px;
    .fatPerson{
      width: 50% !important;
    }
  }
}
